<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Management System</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/1.JPG" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h1>Student Management Tool</h1>
        <p>...</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/2.JPG" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img src="/assets/3.JPG" alt="Third slide">
    </div>
  </div>
</div>

<div class="container-fluid mt-3">
  <div class="row" *ngIf="editingService.editing$ | async; else showList">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ng-template #showList>
    <div class="row">
      <div class="col-md-9">
        <app-list-student></app-list-student>
      </div>
      <div class="col-md-3">
        <div id="sticky-sidebar">
          <app-add-student></app-add-student>
        </div>
      </div>
    </div>
  </ng-template>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
